<div class="body">
  <a class="ismartitulo m-5" href=""><img class="logo" src="../../../assets/img/logo_blanco.png" alt=""> IsmarSpa</a>
  <div class="contenedor">
    <h1 class="titulo">¡Bienvenido/a!</h1>
    <form [formGroup]="myForm" (ngSubmit)="submitForm()">
      <input type="email" placeholder="E-mail">
      <input type="password" placeholder="Contraseña">
      <button class="ingresar" type="submit">Ingresar</button><br>
    </form>
    <a class="olvidarcontra" href="#">¿Olvidaste tu Contraseña?</a>
  </div>
  <p>¿Todavía no tienes una cuenta?</p>
  <button class="registrar">Registrate</button>
</div>
