* {
  margin: 0;
  padding: 0;
}

.olvidarcontra {
  font-family: 'Skeina', sans-serif;
}

.logo{
  width: 40px;
}

.body {
  background-image: url("https://www.zarla.com/images/zarla-spa-logos-6010x4012-20220113.jpeg?crop=2:1,smart&width=1200&dpr=2");
  background-size: 100%;
  background-repeat: no-repeat;
  image-resolution: auto;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  min-height: 100vh;
}

img {
  margin-top: 0;
  margin-left: 0;
}

.contenedor {
  display: flex;
  text-align: center;
  width: 380px;
  height: auto;
  background-color: transparent;
  backdrop-filter: blur(12px);
  padding: 20px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
}

.titulo {
  color: white;
  margin-bottom: 40px;
  font-family: 'Skeina', sans-serif;
}

input {
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid white;
  padding: 10px;
  margin: 8px;
  min-width: 200px;
  font-family: 'Skeina', sans-serif;
}

::placeholder {
  color: white;
}

.ingresar {
  background-color: #B544EC;
  border: 1px solid #B544EC;
  color: white;
  padding: 10px;
  margin: 20px;
  min-width: 150px;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
}

button:hover {
  background-color: #B544EC;
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
  font-family: 'Skeina', sans-serif;
}

.ismartitulo {
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  margin: 10px;
  font-size: 3.8vh;
  text-decoration: none;
  font-family: 'Skeina', sans-serif;
  text-align: center;
}

p {
  color: white;
  position: fixed;
  bottom: 40px;
  left: 0;
  margin: 20px;
}

.registrar {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 20px;
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px;
  margin: 20px;
  min-width: 150px;
  border-radius: 3px;
}
