<!--Informacion info-->
<div>
  <div id="info">
      <div class="row row-cols-lg-3 text-center w-100 py-5 m-auto">
          <div class="info_item col">
              <div class="icon_container">
                  <img src="..../../../assets/img/icons/phone.svg" alt="phone">
              </div>
              <h1 class="info_title">Contacto</h1>
              <p class="info_info">ismarspa&#64;gmail.com</p>
          </div>
          <div class="info_item col" id="info_center">
              <div class="icon_container ">
                  <img src="../../../assets/img/icons/clock.svg" alt="">
              </div>
              <h1 class="info_title">Horarios</h1>
              <p class="info_info">Lun - Vie 8:00 am - 9:00 pm</p>
          </div>
          <div class="info_item col">
              <div class="icon_container">
                  <img src="../../../assets/img/icons/pin.svg" alt="phone">
              </div>
              <h1 class="info_title">Ubicacion</h1>
              <p class="info_info px-5">Barrio Juan XXIII, Cra. 12 A #2-39, Ocaña, Norte de Santander</p>
          </div>
      </div>
  </div>
</div>
