/*Card*/
.card_container{
	width: 300px;
	height: 400px;
	background-size: cover;
}

.card_info{
	width: 100%;
	height: 100%;
	padding: 0% 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background: rgba(131, 17, 187, 0.6);
	opacity: 0;
	transition: 0.5s;
}

.card_info h2{
	color: rgb(255, 255, 255,0.8);
	font-family: 'Skeina', sans-serif;
}

.card_info p{
	color: rgb(255, 255, 255,0.8);
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}

.card_container{
	background-position: center;
}

.card_container:hover .card_info{
	opacity: 1;
}

.card_row .col .card_container{
	margin: 10%;
}