<div class="body">
  <div class="contenedor">
    <h2 class="titulo">Completa los datos para crear tu cuenta</h2>
    <form [formGroup]="myForm" (ngSubmit)="submitForm()">
      <div>
        <input type="text" name="name" formControlName="name" placeholder="Nombre completo" required>
        <input type="text" name="lastName" formControlName="lastName" placeholder="Apellidos">
        <input type="email" name="email" formControlName="email" placeholder="E-mail">
        <input type="password" name="password" formControlName="password" placeholder="Contraseña">
        <input type="text" name="document" formControlName="document" placeholder="Número de documento">
        <input type="text" name="address" formControlName="address" placeholder="Dirección">
        <input type="date" name="date" formControlName="date" placeholder="Fecha de nacimiento">
        <select name="gender" name="gender" formControlName="gender" class="genero">
          <option value="" disabled selected>Género</option>
          <option value="1">Masculino</option>
          <option value="2">Femenino</option>
          <option value="3">Otro</option>
        </select>
      </div>
      <button class="crear" type="submit">Crear Cuenta</button>
    </form>
  </div>
</div>
<div class="menu">
  <a class="ismartitulo" href="#"><img class="logo" src="../../../assets/img/logo_blanco.png" alt="">&nbsp; IsmarSpa</a>
</div>
