
<!--CONTENEDOR IMAGEN PRINCIPAL principal-->
<div id="principal_page">
  <app-navbar></app-navbar>
  <!--Mensaje del medio-->
  <div class="position-absolute top-50 start-50 translate-middle text-center" id="principal_title">
      <p class="mb-5">Tu Destino para la</p>
      <p> Belleza y el Bienestar</p>
      <button type="button" class="btn mt-5 ">RESERVAR CITA</button>
  </div>
</div>

<!--Sobre nosostros-->
<div class="container my-3 py-3">
  <div class="row">
      <h1 class="subtitle text-start align-top my-3">Sobre Nosotros</h1>
      <div class="article_text col-lg-6 col-sm-12 text-justify align-self-start">
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero delectus itaque excepturi possimus.
              Voluptates ut cumque quam ipsum odit laudantium vel et iure dolorum, similique hic tenetur dolore at
              veritatis!
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque nam, inventore quo minus officia
              eius, laudantium ipsa ipsam quas odio vero repellat velit. Quas dolor, dicta qui aliquam earum
              iusto!
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus corrupti eos commodi aut quis
              iure sequi quaerat ducimus. Veritatis, nemo repellat qui aut ducimus mollitia magnam expedita enim
              fugit placeat.
          </p>
      </div>
      <div class="article_img col-lg-6 col-sm-12">
          <!--EL DIV ES LA IMAGEN-->
      </div>
  </div>
</div>
<app-cards-servicios></app-cards-servicios>
<app-cards-productos></app-cards-productos>
<app-info></app-info>
<app-footer></app-footer>
