<!--Servicios-->
<div class="container">
  <h1 class="subtitle text-center">Servicios</h1>
  <div class="card_row row row-cols-lg-auto align-items-center row-cols-md-4 row-cols-sm-2">
    <div class="col">
      <div class="card_container border rounded" style="background-image:url('../../../assets/img/servicios/service_01.webp')">
        <div class="card_info">
          <h2>Masajes</h2>
          <p>Masaje sueco.</p>
          <p>Masaje de tejido profundo.</p>
          <p>Masaje tailandés.</p>
          <p>Masaje con piedras calientes.</p>
          <p>Masaje prenatal.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card_container border rounded" style="background-image:url('../../../assets/img/servicios/service_02.webp')">
        <div class="card_info">
          <h2>Tratamientos faciales</h2>
          <p>Limpiadores faciales.</p>
          <p>Máscaras faciales.</p>
          <p>Exfoliación facial.</p>
          <p>Tratamientos antiarrugas.</p>
          <p>Tratamientos para el acné.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card_container border rounded" style="background-image:url('../../../assets/img/servicios/service_03.webp')">
        <div class="card_info">
          <h2>Tratamientos corporales</h2>
          <p>Envolturas corporales.</p>
          <p>Exfoliación corporal.</p>
          <p>Tratamientos de adelgazamiento y reafirmantes.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card_container border rounded" style="background-image:url('../../../assets/img/servicios/service_04.webp')">
        <div class="card_info">
          <h2>Baños de hidromasaje y terapias de agua</h2>
          <p>Baños de inmersión.</p>
          <p>Hidroterapia.</p>
          <p>Baños de pies.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card_container border rounded" style="background-image:url('../../../assets/img/servicios/service_05.webp')">
        <div class="card_info">
          <h2>Cuidado de uñas</h2>
          <p>Manicuras.</p>
          <p>Pedicuras.</p>
          <p>Tratamientos de parafina.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card_container border rounded" style="background-image:url('../../../assets/img/servicios/service_06.webp')">
        <div class="card_info">
          <h2>Terapias de aromaterapia</h2>
          <p>Masajes aromáticos.</p>
          <p>Inhalación de aceites esenciales.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card_container border rounded" style="background-image:url('../../../assets/img/servicios/service_07.webp')">
        <div class="card_info">
          <h2>cTratamientos de belleza</h2>
          <p>Maquillaje.</p>
          <p>Depilación.</p>
          <p>Extensiones de pestañas.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card_container border rounded" style="background-image:url('../../../assets/img/servicios/service_08.webp')">
        <div class="card_info">
          <h2>Programas de bienestar</h2>
          <p>Programas de desintoxicación.</p>
          <p>Consultas de nutrición.</p>
          <p>Programas de pérdida de peso.</p>
        </div>
      </div>
    </div>
  </div>
</div>
