<!--Servicios-->
<div class="container">
  <h1 class="subtitle text-center">Servicios</h1>
  <div class="card_row row row-cols-lg-auto align-items-center row-cols-md-4 row-cols-sm-2">
      <div class="col">
          <div class="card_container"
              style="background-image:url('../img/servicios/service_01.webp')">
              <div class="card_info">
                  <h2>card title</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit soluta minima eum
                      placeat dolorem, earum unde iure exercitationem numquam esse deleniti et voluptatum tenetur
                      delectus laborum incidunt expedita consequuntur. Voluptas?</p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card_container"
              style="background-image:url('../img/servicios/service_02.webp')">
              <div class="card_info">
                  <h2>card title</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit soluta minima eum
                      placeat dolorem, earum unde iure exercitationem numquam esse deleniti et voluptatum tenetur
                      delectus laborum incidunt expedita consequuntur. Voluptas?</p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card_container"
              style="background-image:url('../img/servicios/service_03.webp')">
              <div class="card_info">
                  <h2>card title</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit soluta minima eum
                      placeat dolorem, earum unde iure exercitationem numquam esse deleniti et voluptatum tenetur
                      delectus laborum incidunt expedita consequuntur. Voluptas?</p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card_container"
              style="background-image:url('../img/servicios/service_04.webp')">
              <div class="card_info">
                  <h2>card title</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit soluta minima eum
                      placeat dolorem, earum unde iure exercitationem numquam esse deleniti et voluptatum tenetur
                      delectus laborum incidunt expedita consequuntur. Voluptas?</p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card_container"
              style="background-image:url('../img/servicios/service_05.webp')">
              <div class="card_info">
                  <h2>card title</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit soluta minima eum
                      placeat dolorem, earum unde iure exercitationem numquam esse deleniti et voluptatum tenetur
                      delectus laborum incidunt expedita consequuntur. Voluptas?</p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card_container"
              style="background-image:url('../img/servicios/service_06.webp')">
              <div class="card_info">
                  <h2>card title</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit soluta minima eum
                      placeat dolorem, earum unde iure exercitationem numquam esse deleniti et voluptatum tenetur
                      delectus laborum incidunt expedita consequuntur. Voluptas?</p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card_container"
              style="background-image:url('../img/servicios/service_07.webp')">
              <div class="card_info">
                  <h2>card title</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit soluta minima eum
                      placeat dolorem, earum unde iure exercitationem numquam esse deleniti et voluptatum tenetur
                      delectus laborum incidunt expedita consequuntur. Voluptas?</p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card_container"
              style="background-image:url('../img/servicios/service_08.webp')">
              <div class="card_info">
                  <h2>card title</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit soluta minima eum
                      placeat dolorem, earum unde iure exercitationem numquam esse deleniti et voluptatum tenetur
                      delectus laborum incidunt expedita consequuntur. Voluptas?</p>
              </div>
          </div>
      </div>
  </div>
</div>

<!--Productos-->
<div class="container">
  <h1 class="subtitle text-center">Productos</h1>
  <div class="card_row row row-cols-lg-auto align-items-center row-cols-md-4 row-cols-sm-2">
      <div class="col">
          <div class="card_container"
              style="background-image:url('../img/productos/product_01.webp')">
              <div class="card_info">
                  <h2>card title</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit soluta minima eum
                      placeat dolorem, earum unde iure exercitationem numquam esse deleniti et voluptatum tenetur
                      delectus laborum incidunt expedita consequuntur. Voluptas?</p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card_container"
              style="background-image:url('../img/productos/product_02.webp')">
              <div class="card_info">
                  <h2>card title</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit soluta minima eum
                      placeat dolorem, earum unde iure exercitationem numquam esse deleniti et voluptatum tenetur
                      delectus laborum incidunt expedita consequuntur. Voluptas?</p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card_container"
              style="background-image:url('../img/productos/product_03.webp')">
              <div class="card_info">
                  <h2>card title</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit soluta minima eum
                      placeat dolorem, earum unde iure exercitationem numquam esse deleniti et voluptatum tenetur
                      delectus laborum incidunt expedita consequuntur. Voluptas?</p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card_container"
              style="background-image:url('../img/productos/product_04.webp')">
              <div class="card_info">
                  <h2>card title</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit soluta minima eum
                      placeat dolorem, earum unde iure exercitationem numquam esse deleniti et voluptatum tenetur
                      delectus laborum incidunt expedita consequuntur. Voluptas?</p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card_container"
              style="background-image:url('../img/productos/product_05.webp')">
              <div class="card_info">
                  <h2>card title</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit soluta minima eum
                      placeat dolorem, earum unde iure exercitationem numquam esse deleniti et voluptatum tenetur
                      delectus laborum incidunt expedita consequuntur. Voluptas?</p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card_container"
              style="background-image:url('../img/productos/product_06.webp')">
              <div class="card_info">
                  <h2>card title</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit soluta minima eum
                      placeat dolorem, earum unde iure exercitationem numquam esse deleniti et voluptatum tenetur
                      delectus laborum incidunt expedita consequuntur. Voluptas?</p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card_container"
              style="background-image:url('../img/productos/product_07.webp')">
              <div class="card_info">
                  <h2>card title</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit soluta minima eum
                      placeat dolorem, earum unde iure exercitationem numquam esse deleniti et voluptatum tenetur
                      delectus laborum incidunt expedita consequuntur. Voluptas?</p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card_container"
              style="background-image:url('../img/productos/product_08.webp')">
              <div class="card_info">
                  <h2>card title</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit soluta minima eum
                      placeat dolorem, earum unde iure exercitationem numquam esse deleniti et voluptatum tenetur
                      delectus laborum incidunt expedita consequuntur. Voluptas?</p>
              </div>
          </div>
      </div>
  </div>
</div>
